body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
h1{
    color:rgba(0, 119, 255, 0.83);
    text-transform :uppercase ;
    text-decoration: underline;
    
}
p{
    color: rgb(177, 27, 0);
    text-transform: capitalize;
    text-align: justify;
    
}
.gallery{
    border: 10px solid red;
    padding: 50px;
    margin: 50px;
}
a:link {
    color: deeppink;
    text-decoration: none;}
    a:visited {
    color: black;}
    a:hover {
    color: blue;
    text-decoration: underline;}
    a:active {
    color: bisque;}